{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PHRASE APP - Hope you are ok</title>
        <link rel="icon" href="static/img/love-letter.png">
        <link rel="stylesheet" href="static/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">

        <!-- Primary Meta Tags -->
        <meta name="title" content="PHRASE APP - Hope you are ok">
        <meta name="description" content="Showing messages writen by me for you.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="PHRASE APP - Hope you are ok">
        <meta property="og:description" content="Showing messages writen by me for you.">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="PHRASE APP - Hope you are ok">
        <meta property="twitter:description" content="Showing messages writen by me for you.">
    </head>

    <body class="container">
{{end}}